<html>
<head>
    <title>My Web Page</title>
</head>
<body>
<ul>
    <li><a href="/facebook/getToken">get token</a><br></li>
    <li><a href="/facebook/userLastPost">other User last post</a></li>
    <li><a href="/facebook/myLastPost">my last post</a></li>
    <li><a href="/facebook/getAlbums">my albums</a></li>
    <li><a href="/facebook/my10LastPosts">my 10 last posts</a></li>
    <li><a href="/facebook/get10GroupPosts">group 10 last posts</a> NA. The app should be installed in the group</li>
    <li><a href="/facebook/permissions">my permissions</a></li>
    <li><a href="/facebook/myMetadata">my metadata</a></li>
</ul>
    <hr>
<small>
    Token:
    <%= token %>
</small>
</body>
</html>