<html>
<head>
    <title>My Web Page</title>
</head>
<body>
<h1>Welcome to <%= title %></h1>
<p>Today is <%= date %></p>
<ul>
    <li><a href="/">home</a></li>
    <li><a href="/facebook/myLastPost">my last post</a></li>
    <li><a href="/facebook/permissions">permissions</a></li>
    <li><a href="/facebook/myMetadata">my metadata</a></li>
    <li><a href="/facebook/redirect">redirect</a></li>
    <hr>
    <div>
        <h3>response data </h3>
        <%= data %>
    </div>
</ul>
</body>
</html>